* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 72.5%;
  margin: 0 auto;
}

/* Styles for the header section  */

.nav__container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  box-shadow: 2px 1px 2px #eee;
  position: sticky;
  top: 0;
}

.nav__logo img {
  max-height: 19px;
}

.nav__options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav__links {
  display: flex;
  gap: 10px;
}

.nav__links li {
  list-style: none;
}

.nav__links li a {
  text-decoration: none;
  color: #747272;
  font-weight: 400;
  padding: 20px;
  transition: color 0.5s ease;
}

.nav__links li a:hover {
  color: #387ed1;
}

.nav__icon {
  border: none;
  font-size: 20px;
  color: #404040;
  background-color: white;
  cursor: pointer;
}

@media (max-width: 960px) {
  .nav__links {
    display: none;
  }
}

/* Styles for the Hero Section  */

.hero__container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 681px;
}

.hero__image {
  width: 810px; 
  height: 370px;
}

.hero__heading {
  font-size: 1.9rem;
  color: rgb(66, 66, 66);
  margin-top: 50px;
  font-weight: 500;
}

.hero__description {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 400;
  color: rgb(66, 66, 66);
  text-align: center;
}

.hero__button {
  margin-top: 30px;
  width: 203px;
  height: 43px;
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 19px;
  background-color: #387ed1;
  font-weight: 500;
}

/* Styles for the ecosystem section  */

.ecosystem {
  height: 754px;
  margin-top: 130px;
}

.ecosystem_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 740px;
}

.ecosystem__left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 480px;
  gap: 40px;
}

.ecosystem__left__heading {
  font-size: 24px;
  color: rgb(66, 66, 66);
  font-weight: 500;
}

.ecosystem__left__trusts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trust h3 {
  font-size: 20px;
  color: rgb(66, 66, 66);
  font-weight: 500;
}

.trust p {
  margin-top: 10px;
  font-size: 16px;
  color: rgb(102, 102, 102);
  font-weight: 400;
  line-height: 29px;
}

.hightlight {
  color: #387ed1;
  cursor: pointer;
}

.hightlight:hover {
  color: rgb(68, 68, 68);
}

.ecosystem__right {
  margin-top: 20px;
  height: 100%;
}

.ecosystem_link {
  margin-top: 10px;
  text-align: center;
}

.ecosystem_link a{
   text-decoration: none;
   color: #387ed1;
   font-size: 16px;
   font-weight: 500;
   margin-left: 20px;
}

.ecosystem_image {
  width: 695px;
  height: 680px;
}
