* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.nav-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  height: 74px;
  position: fixed;
}

.nav-options {
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-logo {
  font-size: 2px;
}

/* Styles for the navbar */

.nav-links {
  margin-left: 100px;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.nav-links ul a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
}

.nav-links ul li {
  list-style: none;
  margin-left: 14px;
}

.nav-links ul li a:hover {
  color: #007bff;
}

.btn {
  margin-left: 30px;
}

.nav-btn {
  width: 194px;
  height: 42px;
  color: white;
  background: linear-gradient(180deg, #4a5568, #2d3748 );
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 32px -10px rgba(0,0,0,0.1);
}

.nav-btn:hover {
  background-color: #4c5a6c;
  transform: translateY(-2px);
  box-shadow: 20px 38px 30px -10px rgba(0,0,0,0.1);
}

.nav-search {
  margin-left: 115px;
  border: solid #495057b7 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.nav-search i {
  font-size: 16px;
  color: #495057;
}

/* Styles for the hero section  */

.hero {
  height: 922px;
  width: 100%;
  background-color: #c5c5c9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  margin-top: 150px;
}

.hero-img img {
  width: 415px;
  height: 431px;
}

.hero-btns {
  display: flex;
}

.btn-1,
.btn-2 {
  width: 178px;
  height: 47px;
  padding: 8px 16px;
  margin: 0px 16px 24px 0px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  gap: 7px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-1 {
  color: white;
  background-color: #007bff;
}

.btn-1:hover {
  background-color: #1966BA;
  transform: translateY(-2px);
  box-shadow: 20px 38px 30px -10px rgba(0,0,0,0.1);
}

.btn-1 i, .btn-2 i  {
  font-size: 25px;
}

.btn-2 {
  color: black;
  background-color: #49505789;
}

.btn-2:hover {
  background-color: #6C7378;
  transform: translateY(-2px);
  box-shadow: 20px 38px 30px -10px rgba(0,0,0,0.1);
}

.hero-para p {
  margin-top: 50px;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.down-arrow {
  margin-top: 30px;
}

.down-arrow i {
  font-size: 64px;
  color: #c5c5c9;
  border-radius: 50%;
  background-color: black;
}

/* Styles for about section  */

.about {
  width: 78%;
  height: 304px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
}

.about span {
  opacity: 0;
}

.about span:hover {
  opacity: 1;
  color: #007bff;
}

.about p {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}

/* Styles for clients section  */

.clients {
  width: 100%;
  height: 576px;
  background-color: #403F4C;
}

.clients i {
  color: white;
  font-size: 120px;
  position: relative;
  top: -51px;
  left: 46.6%;
}

.client-container {
  display: flex;
  justify-content: space-around;
}

.industry {
  display: flex;
  flex-direction: column;
}

.industry-icon i {
  
  font-size: 60px;
}

.industry-title {
  text-align: center;
}

.industry-title h4 {
  color: white;
}

.industry-of {
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}

.industry-of p {
  color: white;
}
