* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.nav-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  height: 74px;
  position: fixed;
}

.nav-options {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-logo {
  font-size: 2px;
}

/* Styles for the navbar */

.nav-links {
  margin-left: 100px;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.nav-links ul a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  line-height: 21px;
  font-weight: 650;
}

.nav-links ul li {
  list-style: none;
  margin-left: 14px;
}

.nav-links ul li a:hover {
  color: #007bff;
}

.btn {
  margin-left: 30px;
}

.nav-btn {
  width: 194px;
  height: 42px;
  color: white;
  background: linear-gradient(180deg, #4a5568, #2d3748);
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 32px -10px rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
  background-color: #4c5a6c;
  transform: translateY(-2px);
  box-shadow: 20px 38px 30px -10px rgba(0, 0, 0, 0.1);
}

.nav-search {
  margin-left: 115px;
  border: solid #495057b7 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.nav-search i {
  font-size: 16px;
  color: #495057;
}

/* Styles for the hero section  */

.hero {
  height: 922px;
  width: 100%;
  background-color: #c5c5c9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  margin-top: 150px;
}

.hero-img img {
  width: 415px;
  height: 431px;
}

.hero-btns {
  display: flex;
}

.btn-1,
.btn-2 {
  width: 178px;
  height: 47px;
  padding: 8px 16px;
  margin: 0px 16px 24px 0px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  gap: 7px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-1 {
  color: white;
  background-color: #007bff;
}

.btn-1:hover {
  background-color: #1966ba;
  transform: translateY(-2px);
  box-shadow: 20px 38px 30px -10px rgba(0, 0, 0, 0.1);
}

.btn-1 i,
.btn-2 i {
  font-size: 25px;
}

.btn-2 {
  color: black;
  background-color: #49505789;
}

.btn-2:hover {
  background-color: #6c7378;
  transform: translateY(-2px);
  box-shadow: 20px 38px 30px -10px rgba(0, 0, 0, 0.1);
}

.hero-para p {
  margin-top: 50px;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.down-arrow {
  margin-top: 30px;
}

.down-arrow i {
  font-size: 64px;
  color: #c5c5c9;
  border-radius: 50%;
  background-color: black;
}

/* Styles for about section  */

.about,
.capabitlites,
.trusts {
  width: 78%;
  height: 304px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h1,
.capabitlites h1,
.trusts h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
}

.about span,
.capabitlites span,
.trusts span {
  opacity: 0;
}

.about span:hover,
.capabitlites span:hover,
.trusts span:hover {
  opacity: 1;
  color: #007bff;
}

.about p,
.capabitlites p,
.trusts p {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}

/* Styles for clients section  */

.clients,
.features,
.benefits {
  width: 100%;
  height: 576px;
  background-color: #403f4c;
}

.arrow {
  height: 97px;
}

.arrow i {
  color: white;
  font-size: 120px;
  position: relative;
  top: -51px;
  left: 46.2%;
}

.client-container,
.features-container,
.benefits-container {
  display: flex;
  justify-content: space-around;
  margin-top: -8px;
}

.industry,
.feature,
.benefit {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 138px;
}

.industry-icon,
.feature-icon,
.benefit-icon {
  text-align: center;
  margin-bottom: 25px;
}

.industry-icon i,
.feature-icon i,
.benefit-icon i {
  font-size: 50px;
  color: white;
}

.industry-title,
.feature-title,
.benefit-title {
  text-align: center;
  margin-bottom: 5px;
}

.industry-title h4,
.feature-title h4,
.benefit-title h4 {
  color: white;
  font-weight: 500;
}

.industry-of {
  text-align: center;
  font-weight: 700;
}

.industry-of p,
.feature-of p,
.benefit-of p {
  color: white;
}

.feature-of p,
.benefit-of p {
  font-size: 14px;
}

.feature-of,
.benefit-of {
  text-align: center;
}

.client-paragraph {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 35px;
  font-size: 400;
}

.client-btn {
  text-align: center;
  margin-top: 20px;
}

.client-btn button {
  color: white;
  font-size: 20px;
  background-color: #007bff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.client-btn button i {
  font-size: 20px;
  margin-left: 8px;
}

hr {
  color: white;
}

/* Styles for footer section  */

footer {
  width: 100%;
  height: 70px;
  background-color: #403f4c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials {
  color: #6c757d;
  font-size: 22px;
  gap: 8px;
}

.socials i:hover {
  color: #212529;
}

.footer-texts {
  flex-basis: 60%;
}

.footer-texts p,
.cta {
  color: #6c757d;
  text-align: center;
  font-size: 12px;
}

.cta ul {
  text-align: center;
  list-style: none;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.cta ul li span {
  color: white;
}

.cta ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.kafka-logo img {
  width: 47px;
  height: 44px;
}

.kafka-logo img:hover {
  animation: spinAround 0.2s linear infinite;
}

@keyframes spinAround {
  from {
    transition: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Styles for the dropdowns */

.dropdown-selected {
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: white;
  height: 300px;
  width: 216px;
  border-radius: 3px;
  flex-direction: column;
  top: 100%;
  left: -11px;
  box-shadow: 5px -5px 15px -3px rgba(0, 0, 0, 0.1);
  /* overflow-x: hidden; */
  overflow-y: auto;
  padding: 0 !important;
  padding-left: 0 !important;
  margin: 0;
  display: none !important;
}

.dropdown li {
  list-style: none;
  text-align: center;
  /* padding: 12px 0;          */
  box-sizing: border-box;
}

.dropdown li:hover {
  background-color: rgba(158, 3, 3, 0.15);
  cursor: pointer;
}

.dropdown-selected:hover .dropdown {
  display: flex !important;
}
